nav {
    font-family: 'Inter', sans-serif;
}
#navIndex {
    background-color: #02182B !important;
    color: #FFFBFF !important;
    text-align: left;
}
.navbarIndex {
    width: 90px !important;
    height: 40px;
}
#imglogo{
    width: 120px ;
}

 .nav-link {
    text-decoration: none;
    position: relative;
    display: inline-block;
    color: #FFFBFF !important;
    font-size: 20px !important;
    transition: transform 0.1s ease;
}

.nav-link::after {
    content: '';
    display: block;
    margin: auto;
    height: 3px;
    width: 100%;
    background: #40FFAA;
    transform: scaleX(0);
    transition: transform 0.5s ease;
    position: absolute;
    left: 0;
}
.nav-link:hover{
    transition: 0.5s ease;
}
.nav-link:hover::after {
    transform: scaleX(1);
    transition: 0.5s ease;
}
.nav-link:active{
    color: rgba(255, 255, 255, 0) !important;
    transform: translateY(10px);
    transition: 0.1s ease;

}.nav-link:active::after{
    transform: translateY(-10px);
    transition: 0.1s ease;
}

#btnind{
    font-size: 20px !important;
    clip-path: polygon(0 0, 100% calc(10% - 12px), 100% 0, 100% calc(100% - 12px), calc(100% - 12px) 100%, 0 100%);
}

#sec1 {
    background-color: #0D2B59;
}
#sec2 {
    background-color: #0D2B59;
}

.mgr1 {
    margin-right: 160px !important;
}
.mgr2{
    margin-right: 70px !important;
}
.mgl1 {
    margin-left: 150px !important;
}
.mgl2{
    margin-left: 70px !important;
}

@keyframes rodar {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}

.imgLogoIndex{
    animation: rodar 30s linear infinite;
    width: 40%;
}
.imgLogoIndex2{
    width: 25%;
}
#containerImgs{
    object-fit: cover;
}
